body{

    background-color:azure;
    margin:0px;
   }
   
   ul{
   
       list-style-type:none;
       padding:0px;
      
       overflow:hidden;
   }
   
   li {
       float:left;
       
   }
   
   li a {
       display:block;
       padding: 10px;
       text-decoration: none;
       font-size:20px;
       color:white;
       text-align:left;
   }
   
   
 
   
   